.upload {
  width: 50%;
  margin: 2rem auto 0;
  text-align: center;
}
.upload-preview {
  height: 500px;
  margin: 0 0 1rem;
  width: 100%;
}

.upload-preview__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.upload__form {
  width: 50%;
  margin: 0.5rem auto 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .upload {
    width: 80%;
  }
  .upload-preview {
    height: 300px;
  }
  .upload__form {
    width: 100%;
  }
}
